* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #3c786f;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  cursor: pointer;
  color: #36c6d9;
}

/** App styles */
#root {
  width: 900px;
  margin: 0 auto;
}

.center {
  text-align: center;
}

.container {
  margin: 0 auto;
}

.mtbm {
  margin: 15px auto;
}

.mtl {
  margin-top: 30px;
}

.btn {
  text-transform: uppercase;
  margin: 15px auto;
  padding: 10px;
  border: 1px solid #00000014;
  background: #d8e2ea;
  font-weight: 500;
  cursor: pointer;
  font-size: 0.8em;
  position: relative;
  border-radius: 5px;
  color: #3c786fbd;
}

button[disabled] {
  background: #e0e0e0;
  color: #bdbdbd;
  cursor: not-allowed;
}

/*------- Nav Bar -------*/
.nav-bar {
  display: flex;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid #d8e2ea;
  margin-bottom: 25px;
}

.nav-links-container {
  flex: 1;
}

.nav-links-container a {
  margin: 0 10px;
  padding: 0 5px;
}

.nav-links-container a:hover {
  border-left: 2px solid #f2bdbd;
}

.active {
  font-weight: 700;
  border-left: 2px solid #f2bdbd;
}

.nav-user-login-container {
  display: flex;
  align-items: center;
  padding-right: 30px;
}

.nav-user-info {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.nav-user-info span {
  padding-right: 5px;
}

.avatar-x-small {
  width: 25px;
  height: 25px;
}

/*------- Login View -------*/
.log-in-container {
  max-width: 500px;
  padding: 10px;
  border: 5px solid #f2bdbd;
  border-radius: 20px;
}

.log-in-container h3 {
  font-weight: 200;
  font-size: 1.2em;
}

.log-in-img {
  width: 150px;
  margin: 20px 0;
  border-radius: 75px;
}

.log-in-box select, button {
  width: 70%;
}

.log-in-box select {
  height: 30px;
  background: #fff;
  border: 1px solid rgba(0,0,0,.29);
  font-size: 0.8em;
}

/*------- Home View --------*/
.questions-container {
  max-width: 600px;
  padding: 10px;
  border: 2px solid #f2bdbd;
  border-radius: 10px;
}
.questions-tab-container {
  height: 50px;
  display: flex;
  justify-items: center;
  align-items: center;
  margin: -10px -10px 0 -10px;
  background-color: #d8e2ea;
  border-radius: 8px 8px 0 0;
  border-bottom: 1px solid #f2bdbd;
}
.questions-tab-container div {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}
.questions-tab-container a {
  margin: auto;
}
.questions-list-tab-selected {
  background-color: white;
  font-weight: 700;
  border-radius: 8px 8px 0 0;
  border: 1px solid #f2bdbd;
}
.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 110px;
  border: 1px solid #6fbbb4;
  border-radius: 3px;
  margin-top: 15px;
  padding: 10px;
}
.question-content {
  flex: 1;
  padding-left: 15px;
}
.avatar-big {
  width: 100px;
  padding-right: 15px;
  border-right: 2px solid #00968866;
}
.avatar-small {
  width: 40px;
}
.question button {
  width: 80px;
  height: 40px;
}

/*------- Answer View --------*/
.answer-container {
  max-width: 600px;
  border: 2px solid #f2bdbd;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.answer-title {
  margin: 15px 0 0;
  padding-bottom: 15px;
  font-size: 1.2em;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #a5bbce;
}
.or-icon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #4791a2;
  top: 80px;
  width: 36px;
  height: 36px;
  text-align: center;
  border-radius: 18px;
  color: white;
  font-weight: 600;
  z-index: 10;
}
.your-choice-icon {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  left: -5px;
}
.your-choice-icon img {
  width: 50px;
  z-index: 10;
}
.answer-title img {
  height: 30px;
  width: 30px;
}
.option-container {
  position: relative;
  display: flex;
  justify-content: space-around;
  justify-items:center;
  align-items: center;
  width: 100%;
  height: 200px;
}
.option-container div.option-left,
.option-container div.option-right {
  position: relative;
  padding: 0 25px;
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
}
.option-container div p {
  text-align: center;
  width: 100%;
}
.option-container div:hover {
  cursor: pointer;
  font-size: 1.1em;
}
.option-left {
  border-right: 1px solid #a5bbce;
  background-color: #caecf1;
}
.option-left:hover {
  background-color: #e1f8fb;
}
.option-right {
  background-color: #fdd7d7;
}
.option-right:hover {
  background-color: #ffe8e8;
}
.result-container {
  width: 100%;
}
.result-percent {
  margin-bottom: 20px;
  font-size: 1.5em;
  font-weight: 700;
}

/*------- New Question View --------*/
.new-question-container {
  align-items: center;
  width: 500px;
  height: 500px;
  padding: 10px 30px;
  border: 2px solid #f2bdbd;
  border-radius: 10px;
}
.new-question-header {
  text-align: center;
  font-weight: 500;
  font-size: 1.4em;
  margin: 15px auto;
}
.new-question-container button {
  width: 87%;
  margin-top: 30px;
  opacity: 0.9;
}
.new-question-container input {
  font-size: 0.8em;
  width: 87%;
  height: 25px;
  opacity: 0.9;
}
.new-question-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 110px;
}
.new-question-container h4 {
  font-weight: 700;
  background-color: #ffffffa3;
  width: 40px;
  height: 30px;
  border-radius: 20px;
  padding-top: 10px;
}
.new-question-background {
  background-image: url("./images/flower-background.png");
  background-color: #8fbc8f52;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}